
.surveyDiv
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    background-color:white;
    border-color:black;
    border-style:solid;
    border-radius:15px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;
}
.header
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    background-color:white;
    border-color:black;
    display:inline;
    border-style:double;
    border-radius:5px;
}
.col-md-4.border
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    background-color:orange;
    border-color:black;
    border-style:solid;
    border-radius:5px;
}
.btn.btn-default.color
{
    color:black;
    background-color:orange;
    border-color:black;
}
.btn.btn-default.InverseColor
{
    color:orange;
    background-color:black;
    border-color:orange;
}
.nav.navbar-nav.color
{
    color:black;
}
